html {
  box-sizing: border-box;
  font-size: 2vh;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Arbutus Slab", serif;
  display: flex;
  background-color: #ffc0cb;
  transition: background-color 0.4s ease-out;
}

body.scroll {
  background-color: #ffffff;
}

.arbutus {
  font-family: "Arbutus Slab", serif;
}
nav ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
}
nav li {
  list-style-type: none;
  margin: 1.5vw;
  font-size: 1.25rem;
}

.nav li a {
  text-decoration: none;
  color: black;
  margin: 3.5vw;
}

.scroll nav {
  background-color: white;
  transition: background-color 0.8s ease-in;
}
.scroll nav li a {
  color: palevioletred;
  padding-bottom: 0.25vw;
  border-bottom: 1px solid black;
}

nav li a:hover {
  border-bottom: 1px solid black;
}
.scroll nav li a:hover {
  color: #d87093;
  padding-bottom: 0.25vw;
  border-bottom: 0px solid;
}
.navtoggler {
  display: none;
}

.nav {
  width: 100%;
  padding: 0.25rem;
  margin-bottom: 0px;
  position: fixed;
}

.jumbotron {
  color: #000000;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.jumbotron-text {
  width: max-content;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vh;
  width: 100vw;
}

.jumbotron h1 {
  font-size: 3rem;
  margin-bottom: 0vh;
}

.jumbotron p {
  font-size: 1.15rem;
  margin-top: 0;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.headshot {
  align-self: flex-start;
  width: 33%;
  float: left;
  margin-right: 2vw;
}

.abouttext {
  flex: 1 1 auto;
  text-align: justify;
  font-size: 1.25rem;
}

.site-section {
  width: 65vw;
  margin: auto;
  margin-bottom: 10vh;
}

.portfolio-item {
  width: 100%;
  margin-bottom: 2vh;
}
.portfolio-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolio-item-part {
  width: 50%;
  margin: 0;
}
.portfolio-img {
  width: 100%;
  height: auto;
}

.portfolio-item-part-header {
  font-size: 1.3rem;
  margin: auto;
}

.portfolio-item-part-subheader {
  font-size: 1.15rem;
  font-style: italic;
  margin: auto;
}

.portfolio-item-part ul {
  margin-top: 0.2vh;
  font-size: 0.8rem;
  padding-inline-start: 1rem;
}

.portfolio-item-part li {
  font-size: 1.1rem;
}

.portfolio-item-part a {
  color: #000000;
  text-decoration: none;
  font-size: 1.1rem;
}

.portfolio-item-part a:hover {
  color: #ffc0cb;
}

h3.portfolio-item {
  text-align: center;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: space-between;
}
.contact-icon {
  font-size: 4rem;
  flex-direction: row;
}

.contact-icon a {
  color: #000000;
}

.contact-icon a:hover {
  color: palevioletred;
}

@media only screen and (max-width: 500px) {
  .modal {
    display: none;
  }
  .modal.open {
    display: block;
    align-items: center;
  }

  .menu.closed {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  nav li {
    margin: 0.25rem;
    text-align: center;
    color: #000000;
    font-size: 1rem;
  }

  nav ul {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navtoggler {
    display: block;
    align-self: center;
    padding: 2vw;
    font-size: 4vh;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .close {
    float: right;
    font-size: 2rem;
    margin-right: 2vw;
  }

  .jumbotron-text {
    width: max-content;
  }

  .portfolio-img {
    width: 100%;
    height: auto;
  }

  .portfolio-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .portfolio-item-part {
    width: 100%;
    padding: 0.25rem;
  }

  .headshot {
    width: 100%;
    float: none;
    margin: auto;
    margin-right: 0;
  }

  .contact {
    display: flex;
  }

  .contact-icon {
    font-size: 3rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) {
  .portfolio-img {
    width: 100%;
    height: auto;
  }

  .portfolio-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .portfolio-item-part {
    width: 100%;
    padding: 0.25rem;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 1280px;
    margin: auto;
  }
  .nav {
    width: 1280px;
  }
  .portfolio-content {
    margin-bottom: 5vh;
  }

  .portfolio-item-part-header {
    padding-left: 5vw;
  }

  .portfolio-item-part-subheader {
    padding-left: 5vw;
  }

  .portfolio-item-part ul {
    padding-inline-start: 40px;
    margin-left: 4vw;
  }
}
